<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav id="nav"></nav>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <p>{{ index }}</p>
                <table class="table-responsive table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>{{ ranking }}</td>
                            <td>{{ nickname }}</td>
                            <td>{{ uid }}</td>
                            {% if has_note %}
                            <td>{{ note }}</td>
                            {% endif %}
                            <td>{{ data }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {% if user.user_id == user_id %}
                        <tr class="table-success">
                            {% else %}
                        <tr id="{{ user.id }}">
                            {% endif %}
                            <td>{{ loop.index }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.user_id }}</td>
                            {% if has_note %}
                            <td>{{ user.info }}</td>
                            {% endif %}
                            <td>{{ user.data }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/script/navbar.js"></script>
</body>

</html>