<additional_info>
当前时间: {{ current_time }}
当前 Token: {{ token }}
{{ nickname }} 的好感度: {{ display_fav }}/{{ fav_level }}

笔记:
{{ note_text }}

最近做的事:
{{ recent_activities }}

{{ state }}
</additional_info>