# Tip:
# 请将此文件复制到 `.env` 后根据实际情况更改

# 以下内容不建议更改
HOST="0.0.0.0"
ALCONNA_USE_COMMAND_START=True
DRIVER=~fastapi+~httpx
ACCESS_CONTROL_AUTO_PATCH_ENABLED=true

# 以下内容请根据选择启用
# LOG_LEVEL=DEBUG
# COMMAND_START=["!"]
# SUPERUSERS=[]

# 以下内容请自行填写
BAIDU_API_KEY=
BAIDU_SECRET_KEY=
ONEBOT_ACCESS_TOKEN=
SQLALCHEMY_DATABASE_URL=
