<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    </style>
    {% block header %}

    {% endblock header %}
</head>

<body>
    <h1>{{ main_title }}</h1>
    <hr>
    {% block card %}

    {% block body %}

    {% endblock body %}

    {% endblock card %}
    <hr>
    {{ footer }}
</body>

</html>