{% extends base %}

{% block header%}
<script>
    function getCountDownString(dateStr) {
        const targetDate = new Date(dateStr);
        const now = new Date();
        const timeDiff = targetDate.getTime() - now.getTime();
        const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        return `${days}d${hours}h`;
    }
</script>
{% endblock header %}

{% block body %}
{% for game in result.data.Catalog.searchStore.elements %}
{% if game.promotions %}
{% set offer = game.promotions.promotionalOffers or game.promotions.upcomingPromotionalOffers %}
{% if offer[0].promotionalOffers[0].discountSetting.discountType == "PERCENTAGE" and offer[0].promotionalOffers[0].discountSetting.discountPercentage == 0 %}
<div class="row">
    <div class="col-2">
        {% for image in game.keyImages %}
        {% if image.type == "OfferImageTall" %}
        <img src="{{ image.url }}" alt="{{ game.title }}" class="img-fluid">
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-10">
        <h2>{{ game.title }}</h2>
        <span class="badge bg-dark"><s>{{ game.price.totalPrice.fmtPrice.originalPrice }}</s></span>
        {% if game.promotions.promotionalOffers %}
        <span class="badge bg-success">{{ free_now }}</span>
        {% else %}
        <span class="badge bg-warning">{{ coming_soon }}</span>
        {% endif %}
        {{ remaining }} <span id="countdown-{{ game.id }}"></span>
        <script>
            {
                {% if game.promotions.promotionalOffers %}
                const dateStr = "{{ game.promotions.promotionalOffers[0].promotionalOffers[0].endDate }}";
                {% else %}
                const dateStr = "{{ game.promotions.upcomingPromotionalOffers[0].promotionalOffers[0].startDate }}";
                {% endif %}
                document.getElementById("countdown-{{ game.id }}").innerHTML = getCountDownString(dateStr);
            }
        </script>
        <br>
        <small class="text-secondary">{{ game.description }}</small>
    </div>
</div>
{% if not loop.last %}
<hr>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock body %}