{% extends base %}

{% block body %}
{% for c in categories %}
{% if c.name %}
<h2>{{ c.name }}</h2>
{% endif %}
    <ul>
    {% for command in c.commands %}
    <li>
        <span class="badge bg-info">{{ command.name }}</span> {{ command.description }}
    </li>
    {% endfor %}
    </ul>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock body %}