{% extends base %}

{% block body %}
{% for c in categories %}
{% if c.name %}
<h2>{{ c.name }}</h2>
{% endif %}
    <ul>
    {% for command in c.commands %}
    <li>
        <strong>{{ command.name }}</strong>: {{ command.description }}
        {% if len(command.usages) > 1 %}
        <span class="badge bg-info">{{ len(command.usages)}}</span>
        {% endif %}
    {% endfor %}
    </ul>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock body %}