{% extends base %}

{% block body %}

{% for task in schedule %}


    
<div class="h2" style="float: right;">
    {% if task.status %}
        {{ task.status.completed_count }} / {{ task.completion_required }}
        {% if task.status.completed_count >= task.completion_required and not task.status.collected %}
            <span class="badge bg-success">{{ text.finished }}</span>
        {% elif task.status.collected %}
            <span class="badge bg-secondary">{{ text.collected }}</span>
        {% else %}
            <span class="badge bg-primary">{{ text.unfinished }}</span>
        {% endif %}
    {% else %}
        0 / {{ task.completion_required }}
        <span class="badge bg-primary">{{ text.unfinished }}</span>
    {% endif %}
</div>
<h2>{{ task.name }}</h2>

<p>{{ task.description }}</p>
<h3>{{ text.award }}</h3>
<div class="row">
    {% for item in task.award_items %}
    <div class="col-6">
        <span class="badge bg-info">{{ item.index }}</span> <span class="text-{{ item.text_color }} fw-bold">{{
            item.name }}</span>
        <span class="badge bg-light text-dark rounded-pill">{{ item.count }}</span>
    </div>
    {% endfor %}
</div>

{% if not loop.last %}<hr>{% endif %}



{% endfor %}




{% endblock body %}
