var navbar = document.getElementById("nav");

navbar.innerHTML = `
<div class="container">
<a class="navbar-brand" href="#">{{ title }}</a>
<ul class="navbar-nav collapse navbar-collapse">
    <li class="nav-item">
        <a class="nav-link" href="https://moonlark-status.itcdt.top">{{ status }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/Moonlark-Dev/Moonlark">{{ github }}</a>
    </li>
</ul>
<div class="d-flex">
    {% if not nickname %}
        <a href="/user/login" class="btn bg-success btn-outline-success text-light me-2" style="float: right; font-size: 15px">{{ login }}</a>
    {% else %}
        <a href="/user" class="btn bg-success btn-outline-success text-light me-2" style="float: right; font-size: 15px">{{ nickname }}</a>
    {% endif %}
</div>
</div>
`;

navbar.classList.add("navbar");
navbar.classList.add("navbar-expand-sm");
navbar.classList.add("bg-success");
navbar.classList.add("navbar-dark");

